@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', arial, sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 1.3;
  background-color: rgb(221, 239, 250);
}