.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
}

.details {
  margin-top: 20px;
}

.image {
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

@media (min-width: 780px) {
  .recipe {
    max-width: 40%;
  }
}